/*body {
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

#mainMessage {
    text-align: center;
} */

body {
    background: radial-gradient(circle, rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .brick-wall {
    display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-auto-rows: 40px;
    gap: 4px;
    background-color: #002244;
    padding: 10px;
  }
  
  .brick {
    width: 80px;
    height: 40px;
    background-color: #003366;
    box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.2);
    border-radius: 2px;
  }
  
  .brick:nth-child(odd) {
    transform: translateX(40px);
  }
  